---
- hosts: localhost
  connection: local
  gather_facts: False
  vars:
#AWS config:
    ec2_access_key: "not set"
    ec2_secret_key: "not set"
    group: "not set"
    region: "not set"
    keypair: "not set"
#instance config:
    hostname: Webserver
    instance_type: "t2.micro"
    image: "ami-0080e4c5bc078760e"
  tasks:
    - name: make one instance
      ec2: image={{ image }}
           instance_type={{ instance_type }}
           aws_access_key={{ ec2_access_key }}
           aws_secret_key={{ ec2_secret_key }}
           keypair={{ keypair }}
           instance_tags='{ "Name":"{{ hostname }}" }'
           region={{ region }}
           group={{ group }}
           wait=true
      register: ec2

    - add_host: hostname={{ item.public_ip }} groupname=web
      with_items: "{{ ec2.instances }}"

    - name: wait for instances to listen on port:22
      wait_for:
        state=started
        host={{ item.public_dns_name }}
        port=22
      with_items: "{{ ec2.instances }}"

- hosts: web
  user: ec2-user
  become: yes
  gather_facts: True
  vars:
    connections : "4096"
  tasks:
    - name: "yum - install 'docker'"
      yum:
       name: "docker"
       update_cache: yes

    - name: create app.conf
      copy:
        src: "conf/app.conf"
        dest: "/home/ec2-user/app.conf"

    - name: add index.html
      copy:
        src: "src/index.html"
        dest: "/home/ec2-user/index.html"
  
    - name: run docker
      shell: service docker start 
      args:
        executable: /bin/bash
    
    - name: run nginx docker
      shell: docker run -d -t --name nginx -v /home/ec2-user/index.html:/usr/share/nginx/html/index.html -v /home/ec2-user/app.conf:/etc/nginx/conf.d/default.conf -p 80:80 nginx:latest
      args:
        executable: /bin/bash
...
